<div class="row">
  <div class="column large-6 large-centered">
    <h1>Start Dashing / Setup</h1>
    <form novalidate name="startForm", ng-submit="start()">
      <div class="row">
        <div class="large-12 columns">
          <label ng-class="{ error : startForm.dbName.$invalid && startForm.$submitted }">Database Name
            <input
              type="text"
              name="dbName"
              placeholder="dashing-database"
              ng-model="info.dbName"
              required
              ng-minlength="5"
              ng-class="{ error : startForm.dbName.$invalid && startForm.$submitted }"
            >
          </label>
            <small class="error" ng-show="startForm.dbName.$invalid && startForm.$submitted">Database name must be more than 5 characters</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label ng-class="{ error : startForm.siteName.$invalid && startForm.$submitted }">Site Name
            <input 
              type="text"
              name="siteName"
              placeholder="My blog"
              ng-model="info.siteName"
              required
              ng-minlength="3"
              ng-class="{ error : startForm.siteName.$invalid && startForm.$submitted }"
            >
          </label>
          <small class="error" ng-show="startForm.siteName.$invalid && startForm.$submitted">Site name must be more than 3 characters</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label ng-class="{ error : startForm.email.$invalid && startForm.$submitted }">Email
            <input 
              type="email" name="email" placeholder="jane.doe@example.com"
              ng-model="creds.email" required
              ng-class="{ error : startForm.email.$invalid && startForm.$submitted }"
            >
          </label>
            <small class="error" ng-show="startForm.email.$invalid && startForm.$submitted">Please use a valid email address</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label ng-class="{ error : startForm.password.$invalid && startForm.$submitted }">Password
            <input 
              type="password" name="password" placeholder="********"
              ng-model="creds.password" required 
              ng-class="{ error : startForm.password.$invalid && startForm.$submitted }"
            >
          </label>
          <small class="error" ng-show="startForm.password.$error.required && startForm.$submitted">Please use a valid password</small>
          <small class="error" ng-show="startForm.password.$error.minlength && startForm.$submitted">Password is too short (minimum length is 8 characters)</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button class="button expand" ng-disabled="loading">
            <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
            <span>Save and continue</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
