<div class="row">
  <div class="large-12 column">
    <h1>Blog</h1>
    <div class="row">
      

      <div class="large-6 column right">
        <form name="postForm" ng-submit="createPost()" novalidate>
          <fieldset class="mt0">

            <div class="row">
              <div class="large-12 columns">
                <label>Title
                  <input type="text" name="title" placeholder="Dashingly handsom blog post"  ng-model="selectedPost.title" ng-class="{error:postForm.title.$invalid && postForm.$submitted}" required/>
                </label>
                <small class="error" ng-show="postForm.title.$invalid && postForm.$submitted">Please provide a title</small>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>Slug (url)
                  <input type="text" name="slug" placeholder="dashingly-handsom-blog-post" ng-class="{error:postForm.slug.$invalid && postForm.$submitted}" ng-model="selectedPost.slug" ng-pattern="/^[a-z0-9-]+$/" ng-trim="false"/>
                </label>
                <small class="error" ng-show="postForm.slug.$invalid && postForm.$submitted">This is not a valid slug (url)</small>
              </div>
              <div class="large-6 columns">
                <label>Category
                  <input type="text" placeholder="Art, Cars, Food, Fitness" name="category" ng-class="{error:postForm.category.$invalid && postForm.$submitted}" ng-model="selectedPost.category" ng-list />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>Status</label>
                <input  type="radio" name="status" value="visible" id="visible" ng-model="selectedPost.status" ng-click="action = 'Publish'" ><label for="visible">Visible</label>
                <input  type="radio" name="status" value="hidden" id="hidden" ng-model="selectedPost.status" ng-click="action = 'Save'">      <label for="hidden">Hidden</label>
              </div>
              <div class="large-6 column">
                <span class="label mr5 secondary" ng-repeat="cat in selectedPost.category track by $index">{{cat}}</span>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label for="body" style="display:inline;" >
                  <span>Body</span>
                
                  <small>
                    <a href="https://help.github.com/articles/markdown-basics/" target="_blank" class="has-tip" tooltip="Markdown uses a very simple formatting syntax.">
                      (Parsed with markdown click to learn more)
                    </a>
                  </small>

                  <div class="pre-field">
                    <div class="row">
                      <div class="small-12 column">
                        <!-- <button class="button" title="Bold" ng-mousedown="func('bold')" return false><i class="fa-fw fa fa-bold"></i></button>
                        <button class="button" title="Italic" ng-mousedown="func('italic')"><i class="fa-fw fa fa-italic"></i></button>
                        <button class="button" title="Bullets" ng-mousedown="func('bullet')"><i class="fa-fw fa fa-ellipsis-v"></i></button> -->
                        <a class="button right" title="Preview" ng-click="openPreview()"><i class="fa-fw fa fa-bars"></i></a>
                      </div>
                    </div>
                  </div>

                  <textarea id="body" name="body" placeholder="Body" ng-model="selectedPost.body" rows="15" ng-class="{error:postForm.body.$invalid && postForm.$submitted}" required></textarea>
                </label>
                <small class="error" ng-show="postForm.body.$invalid && postForm.$submitted">Please provide a body</small>
              </div>
            </div>
            <div class="row">
              <div class="column large-6 right">
                <button class="button expand">{{action || 'Save'}} your post</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>


      <div class="large-6 column left">
        <ul class="side-nav">
          <li ng-repeat="p in posts" ng-show="p.title">
            
            <h3>
              <small class="subheader ml15" ng-show="$index === 0"> This post is pending</small>
              <a title="{{p.title}}" ng-click="selectPost(p._id)">
                <span>{{p.title | characters:25}}</span>
                <small class="right alert" ng-show="$index !== 0" style="margin-top: 12px;" ng-click="deleteBlog(p._id)"><i class="fa fa-trash-o"></i></small>
              </a>
            </h3>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>




<script type="text/ng-template" id="modalPreview.html">
  <pre class="pannel" marked="md"></pre>
</script>
