.plus{
  background: $smoke;
  height:100px;
}
img, i{
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}

[class*="block-grid"] div{
  color:$white;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;

  display: block;
  position: relative;
  i{
    position: absolute;
    color:$white;
    top: 10px;
    left: 10px;
    opacity: 0;
  }
}
li.selected div{
  background: $success-color;
  img{
    opacity: .7;
  }
  i{
    opacity: 1;
  }
}
