@import 'normalize';
@import 'foundation_settings';
@import 'foundation_custom';
@import 'mixins';


$layer1 :2px 2px 3px $gainsboro;



$short: "t", "b", "l", "r";
$long: "top", "bottom", "left", "right";

@for $i from 1 through length($short) {
  $s: nth($short, $i);
  $l: nth($long, $i);
  $j: 0;
  @while $j <= 100 {
    .m#{$s}#{$j} { margin-#{$l}: #{$j}px }
    .p#{$s}#{$j} { padding-#{$l}: #{$j}px }
    $j: $j + 5;
  }
  $i: $i + 1;
}



.nav{
  &.public{
    background: #ECECEC;
  }
  &.loggedin{
    background:$topbar-bg-color;
  }
}
.pre-field{
  display: block;
  padding: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: normal;
  background: $primary-color;
  color: #FFF;
  .button{
    margin:0;
    padding: rem-calc(8px);
    font-size: rem-calc(10px);
  }
}
.primary {color:$primary-color;}
.secondary {color:$secondary-color;}
.alert {color:$alert-color;}
.success {color:$success-color;}
.warning {color:$warning-color;}
.info {color:$info-color;}
.tooltip{min-width: 100px;}







.files{
  @import 'files';
}

.galleries{
  @import 'galleries';
}
