<div class="row create galleries">
  <div class="large-12 column">
    <form name="createForm" ng-submit="createGallery()" novalidate>

      <div class="large-4 column">
        <label>Title:
          <input type="text" name="title" ng-model="newGallery.title" ng-class="{error:createForm.title.$invalid && createForm.$submitted}" placeholder="Gallery of Dashing People" required >
        </label>
        <small class="error" ng-show="createForm.title.$invalid && createForm.$submitted">Please provide a title</small>
      </div>

      <div class="large-3 column">
        
        <label>Category: <small>(coma separate)</small>
          <input type="text" placeholder="Art, Cars, Food, Fitness" name="category" ng-class="{error:createForm.category.$invalid && createForm.$submitted}" ng-model="newGallery.category" ng-list />
        </label>
         
        <div class="row">
          <div class="large-12 column">
            <span class="label mr5 secondary" ng-repeat="cat in newGallery.category track by $index">{{cat}}</span>
          </div>
        </div>
      
      </div>

      <div class="large-3 column">
        <label>Note:
          <input type="text" placeholder="... " name="note" ng-class="{error:createForm.note.$invalid && createForm.$submitted}" ng-model="newGallery.note" />
        </label>
      </div>

      <div class="large-2 column">
        
      </div>
      
      <div class="row">
        <div class="large-12 column">
          <hr>
          <h3>Select images to add them to the gallery</h3>
          <hr>
        </div>
        <div class="large-12 column">
          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
            <li ng-repeat="file in files" ng-class="{selected:isSelected(file._id)}">
                <div ng-click="clickFile(file._id)">
                  <img src="http://localhost:3030{{file.path}}" alt="">
                  <i class="fa fa-check-circle-o fa-2x"></i>
                </div>
            </li>
          </ul>
          <hr>
        </div>
        <div class="large-3 column end">
          <button class="button tiny expand inline mb0 mt20">{{!update ? 'Create Gallery' : 'Update Gallery' }}</button>
        </div>
        <div class="column large-3">
          <a class="button tiny expand inline mb0 mt20 alert" ng-if="update" ng-click="deleteGallery()" >Delete Gallery</a>
        </div>
      </div>
    </form>
  </div>
</div>
